
* {
    box-sizing: border-box;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    margin: 1rem 5rem;
    background-color: #222222;
    border: 5px;
    border-style: solid;
    padding: 3rem 5rem;
}
@media (max-width: 1000px) {
    body {
        margin: 1rem 1rem;
        padding: 3rem 1rem;;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navbar {
    border-width: 0 0 3px 0;
    border-style: solid;
}
.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
    padding: 0 0 10px 0;
}
.navbar-item {
    text-decoration: none;
    border: 2px;
    border-style: solid;
    padding: 5px;
}
